@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #252a34;
}

a {
    text-decoration: none;
}

/* Navbar */
.navbar-brand {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 42px;
    letter-spacing: 0.01em;
}

.nav-link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.01em;
}

nav .kanan .login {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #537fe7 !important;
}

nav .kanan .signup {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #ffffff !important;
    background-color: #537fe7 !important;
}

/* Footer */
.footer {
    background-color: #3c486b;
    min-height: 60vh;
}

.footer h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 42px;
    letter-spacing: 0.01em;
}

.footer h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.01em;
}

.footer .copytext {
    margin-top: 100px;
    padding-top: 12px;
    border-top: 2px solid #9ba4b5;
}

/* LANDING PAGE */
.banner .a {
    background-image: url("../css/home.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 8px;
}

.banner .a h1 {
    letter-spacing: 0.42px;
}

.banner .a p {
    color: #626771;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.16px;
    margin: 0 !important;
}

.title {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    letter-spacing: 0.01em;
}

.products .card {
    border: none;
}

.products .card .price {
    color: #537fe7;
}

.products .card .nama-produk {
    margin: 12px 0 4px 0;
    padding: 0;
}

.umkms .card {
    border: none;
}

.umkms .card .nama-umkm {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2px;
    margin: 12px 0 4px 0;
}

.umkms .card .lokasi-umkm .alamat-umkm {
    margin-bottom: 0 !important;
    margin-left: 20px !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
}

/* UMKM PRODUCT PAGE */
.umkm {
    margin: 100px 0 200px 0;
}

.umkm .card {
    width: 18rem;
    margin-top: 100px;
}

.umkm .card .card-text {
    font-size: 12px;
}

.umkm .card .umkm-card-location {
    margin-bottom: 10px;
}

/* DETAIL PRODUCT PAGE */
.detail {
    margin: 100px 0 200px 0;
}

.semua {
    border-radius: 16px;
    background: #537fe7;
    padding: 20px 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #fff;
}

.banner {
    margin: 24px 0 60px 0;
}

.products {
    margin: 60px 0;
}

.umkms {
    margin-bottom: 200px;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url("../css/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.products .card {
    border: none;
}

.products .card .price {
    color: #537fe7;
}

.products .card .nama-produk {
    margin: 12px 0 4px 0;
    padding: 0;
}
